[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
zappa = "*"
django = "==2.1.11"
django-rest-framework = "*"
awscli = "*"
pymysql = "*"
pandas = "*"

[requires]
python_version = "3.6"
